body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; /* fontul MUI */
}
#root {
  display: block; /* Ensures that content flows normally after login */
  overflow-x: hidden; /* Prevents horizontal scroll bars */
}